# 安装Mysql 驱动 

```python
pip install sqlalchemy
```

In [147]:
#导入dateframe计算工具
import pandas as pd
#导入绘图工具
import matplotlib.pyplot as plt
import matplotlib.dates as dates
import numpy as np
import seaborn as sns

#mysql 数据源工具
import sqlalchemy as db

#系统及命令行
import sys

#行内xi
%matplotlib inline

In [148]:
#积分模拟
point_df_not_none = pd.DataFrame(data=[['2018-10-01', 19, 0.1, 100]], columns=['日期', '积分充值金额(元)', '折扣券抵扣金额(元)', '优惠券抵扣金额(元)'] )

In [149]:
point_df_not_none

           日期  积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元)
0  2018-10-01         19         0.1         100

In [150]:
order_df_not_none = pd.DataFrame(data=[['2018-10-01', 999.3, 10, '商户1'], ['2018-10-01', 999.3, 10, '商户2']])

In [151]:
order_df_not_none.columns =  ['日期', '订单消费金额(元)', '订单数量(次)', '商户名']

In [152]:
point_df_not_none

           日期  积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元)
0  2018-10-01         19         0.1         100

In [153]:
order_df_not_none

           日期  订单消费金额(元)  订单数量(次)  商户名
0  2018-10-01      999.3       10  商户1
1  2018-10-01      999.3       10  商户2

In [154]:
order_df_not_none[['日期', '商户名']] = order_df_not_none[['日期', '商户名']].astype(str)

In [155]:
order_df_not_none['订单消费金额(元)'] = order_df_not_none['订单消费金额(元)'].astype(float)

In [156]:
order_df_not_none['订单数量(次)'] =  order_df_not_none['订单数量(次)'].astype(int)

In [157]:
order_df_not_none.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 4 columns):
日期           2 non-null object
订单消费金额(元)    2 non-null float64
订单数量(次)      2 non-null int64
商户名          2 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 144.0+ bytes

In [158]:
point_df_not_none['日期'] = point_df_not_none['日期'].astype(str)

In [159]:
point_df_not_none[['积分充值金额(元)', '折扣券抵扣金额(元)', '优惠券抵扣金额(元)']] = point_df_not_none[['积分充值金额(元)', '折扣券抵扣金额(元)', '优惠券抵扣金额(元)']].astype(float)

In [160]:
point_df_not_none.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
日期            1 non-null object
积分充值金额(元)     1 non-null float64
折扣券抵扣金额(元)    1 non-null float64
优惠券抵扣金额(元)    1 non-null float64
dtypes: float64(3), object(1)
memory usage: 112.0+ bytes

In [161]:
point_df_not_none.head()

           日期  积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元)
0  2018-10-01       19.0         0.1       100.0

In [162]:
order_df_not_none.head()

           日期  订单消费金额(元)  订单数量(次)  商户名
0  2018-10-01      999.3       10  商户1
1  2018-10-01      999.3       10  商户2

In [163]:
order_df_not_none = order_df_not_none.groupby(['日期']).sum()

In [166]:
order_df_not_none

            订单消费金额(元)  订单数量(次)
日期
2018-10-01     1998.6       20

In [167]:
pd.concat([point_df_not_none.set_index('日期'), order_df_not_none], axis=1)

            积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元)  订单消费金额(元)  订单数量(次)
日期
2018-10-01       19.0         0.1       100.0     1998.6       20

In [168]:
order_df_none = pd.DataFrame(data=[], columns= ['日期', '订单消费金额(元)', '订单数量(次)', '商户名'] )

In [169]:
with_none_df = pd.concat([point_df_not_none.set_index('日期'), order_df_none.set_index('日期')], axis=1)

/ws/venv/py/py3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [170]:
with_none_df

            积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元) 订单消费金额(元) 订单数量(次)  商户名
2018-10-01       19.0         0.1       100.0       NaN     NaN  NaN

In [171]:
with_none_df.fillna(value=0, inplace=True)

In [172]:
with_none_df.drop(columns=['商户名'], inplace=True)

In [174]:
with_none_df['补贴总额(元)'] = with_none_df['积分充值金额(元)'] + with_none_df['优惠券抵扣金额(元)'] + with_none_df['折扣券抵扣金额(元)']

In [175]:
with_none_df

            积分充值金额(元)  折扣券抵扣金额(元)  优惠券抵扣金额(元)  订单消费金额(元)  订单数量(次)  补贴总额(元)
2018-10-01       19.0         0.1       100.0          0        0    119.1

In [176]:
with_none_df.T

            2018-10-01
积分充值金额(元)         19.0
折扣券抵扣金额(元)         0.1
优惠券抵扣金额(元)       100.0
订单消费金额(元)          0.0
订单数量(次)            0.0
补贴总额(元)          119.1